*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    height: 72px;
    font-family: 'Roboto';font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    gap: 16px;
}

.header h2 {
    color: white;
    padding: 0 16px;
}

.header ul {
    color: lightgrey;
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0 16px;
}
.body img {
    border-radius: 8px;
}
.footer {
    color: white;
    background-color: #1f2937;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1f2937;
    padding: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    text-align: center;
    padding: 16px;
}

.container h1 {
    display: flex;
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 8px;
}

.container p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-bottom: 8px;
}

.container button {
    display: flex;
    color: white;
    background-color: #3882F6;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;

}

.title {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 32px;
    align-self: center;
}

.section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    gap: 36px;
}

.info {
    max-width: 200px;
}

.info img {
    border-radius: 8px;
}

.section-two {
    background-color: #E5E7EB;
    padding: 64px;

}

.section-two .quote {
    color: #1f2937;
    font-size: 36px;
    font-style: light italic;
}

.section-two h3 {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}
